body {
	margin: 0px;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: #1e1e2f;
	position: relative;
	overflow: hidden;
}

.firefly {
	background-color: lightblue;
	border-radius: 100%;
	position: absolute;
}

.hill {
	border-radius: 100%;
	position: absolute;
	background-color: #1d422d;
	box-shadow: 0 0 3px 1px black;
}

.moon {
	position: absolute;
	top: 120px;
	left: 150px;
	width: 200px;
	height: 200px;
	background-color: #efe;
	border-radius: 100%;
	box-shadow: 0px 0 14px 12px #eeffeeed, 0px 0 23px 26px #eeffee5e;
	border: none;

}