body {
	margin: 0px;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: #1e1e2f;
	position: relative;
	overflow: hidden;
}

.firefly {
	background-color: lightblue;
	border-radius: 100%;
	position: absolute;
}

.hill {
	border-radius: 100%;
	position: absolute;
	background-color: #164c2c;
	box-shadow: 0 0 3px 1px black;
}